.aboutwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3em;
  border-bottom: 2px solid $secondaryNavColor;
  img {
    width: 35%;
    height: 350px;
    object-fit: cover;
    object-position: center top;
    border-radius: 90px;
    margin: 0;
  }
  .description {
    width: 58%;
    h2 {
      font-size: 4.3em;
      margin: 0;
    }
    .aboutpStyle {
      display: flex;
      flex-direction: row;
      p {
        font-size: 0.9em;
        line-height: 2;
        letter-spacing: -.06px;
        margin: 2em 2em 0 0;
        text-align: justify;
      }
    }
  }
}
.aboutbtnwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em auto 0;
  max-width: 750px;
  width: 100%;
  .aboutbtn {
    display: block;
    padding: 15px 3em 14px;
    margin: 2.5em auto;
    width: 30%;
    border-radius: 60px;
    box-shadow: 2px 2px 3px  $secondaryColor;
    background-color: $primaryColor;
    color: $primary3Color;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.5px;
    animation: 1s ease;
    transition: 0.1s ease;
    &:hover {
      cursor: pointer;
      background-color: $secondary2Color;
    }
  }
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: auto;
  padding: 1.5em 0 0;
  a {
    margin: 0 0.9em;
    img {
      width: 25px;
      animation: 1s ease;
      transition: 0.1s ease;
      &:hover {
        transform: translateY(-2px);
        opacity: 0.8;
      }
    }
  }
}

@media screen and (max-width: $breakpointDesktop) {
  .aboutwrapper {
    flex-direction: row;
    img {
      margin: 1em 0;
      width: 35%;
      height: 350px;
    }
    .description {
      max-width: 700px;
      padding: 1em 0 0 2em;
      width: 100%;
      h2 {
        margin: 0 auto;
      }
      .aboutpStyle {
        p {
          font-size: 0.9em;
          margin: 2em 2em 0 0;
        }
      }
    }
  }
  .aboutbtnwrapper {
    .aboutbtn {
      margin: 2.5em 10px;
      width: 60%;
    }
  }
}
@media screen and (max-width: 900px) {
  .aboutwrapper {
    img {
      width: 35%;
      height: 320px;
    }
    .description {
      padding: 1em 0 0 2em;
      h2 {
        font-size: 3.5em;
      }
      .aboutpStyle {
        flex-direction: column;
        p {
          margin: 2em 2em 0 0;
          font-size: 0.9em;
        }
      }
    }
  }
  .aboutbtnwrapper {
    .aboutbtn {
      margin: 2.5em 10px;
      width: 60%;
    }
  }
}
@media screen and (max-width: $breakpointTablet) {
  .aboutwrapper {
    flex-direction: column;
    margin: 2em 0 0;
    img {
      margin: 1em 0 2em;
      width: 65%;
      height: 420px;
    }
    .description {
      padding: 0 1em;
      h2 {
        font-size: 4em;
        text-align: center;
      }
      .aboutpStyle {
        flex-direction: column;
        max-width: 520px;
        margin: 0 auto;
        p {
          font-size: 1em;
          margin: 2em 0 0 0;
          text-align-last: center;
        }
      }
    }
  }
  .socials {
    padding: 0;
    a {
      margin: 1em 0.75em 0;
    }
  }
}
@media screen and (max-width: $breakpointPhone) {
  .aboutwrapper {
    padding-bottom: 2em;
    img {
      margin-top: 1em;
      padding: 0;
      width: 85vw;
      height: 85vw;
    }
    .description {
      padding: 1em 0;
      h2 {
        font-size: 3em;
      }
      .aboutpStyle {
        padding: 0 0.5em;
        p {
          font-size: 1em;
          margin: 2em 0 0 0;
        }
      }
    }
  }
  .aboutbtnwrapper {
    flex-direction: column;
    margin: 3em auto 1.5em;
    .aboutbtn {
      margin: .5em auto;
      width: 70vw;
    }
  }
}