.showcase {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  .item {
    height: 180px;
    width: 100%;
    margin: 1em 0;
    //background-image: url(../public/personalwebbutton.png);
    background-color: $primaryColor;
    box-shadow: inset 3px 8px 10px 2px rgba(0, 71, 56, 0.8);
    border-radius: 999px;
    background-position: center right 80px;
    background-size: 35%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    h2 {
      color: $primary3Color;
      font-size: 1.6em;
      letter-spacing: 0.04px;
      line-height: 1;
      margin: 0 0 0 2.5em;
      p {
        color: $primary3Color;
        font-size: 0.6em;
        font-weight: 500;
        letter-spacing: 0.1px;
        margin: 8px 0 0;
      }
    }
    &:hover {
      cursor: pointer;
      //box-shadow: 0 0 0 1pt $highlightColor inset;
      border: 1px solid $highlightColor;
    }
  }
}

@media screen and (max-width: $breakpointTablet) {
  .showcase {
    .item {
      padding: 0;
      height: 120px;
      background-position: center right -45px;
      background-size: 55%;
      h2 {
        margin: 0 0 0 2em;
        font-size: 1.4em;
        p {
          margin: 4px 0 0;
        }
      }
    }
  }
}
  