.new_homewrap {
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  .home_grid {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    flex-wrap: wrap;
    & > div {
      flex-basis: calc(33.333% - 20px);
      margin: 0.1rem;
      background-color: pink;
      box-sizing: border-box;
      @include media("<desktop") {
        flex-basis: calc(50% - 25px);
        // margin: 0.5rem;
      }
      @include media("<tablet") {
        flex-basis: calc(100% - 40px);
        // margin: 0.5rem;
      }
      &::before {
        content: '';
        display: block;
        padding-top: 100%;
      }
    }
  }
}