nav {
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  @include media("<tablet") {
    padding: 2.25rem 0.5rem;
    flex-direction: column;
  }
  a {
    h1 {
      display: block;
      color: black;
      font-family: $fontStack2;
      letter-spacing: -0.25px;
      font-size: 2rem;
      font-weight: 100;
      @include media("<tablet") {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    font-family: $fontStack2;
    li {
      font-weight: 100;
      color: grey;
      letter-spacing: -0.05px;
      font-size: 1.5rem;
      margin: 0;
      @include media("<tablet") {
        font-size: 1.25rem;
        margin: 0 0.5rem;
      }
    }
  }
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: relative;
  width: auto;
  height: auto;
  background: transparent;
  z-index: 120;
}

li {
  list-style: none;
  cursor: default;
  a {
    display: block;
    cursor: pointer;
  }
}

.active {
  color: black;
  // font-weight: 600;
}