$--white: #fff;
$--gray-1: #5c6161;
$--purple-1: #B26699;
$--red-1: #EE4F42;
$--background: #fff;
$primaryColor: #5c6161;
$primary2Color: #EC6F39;
$primary3Color: #F8F1E6;
$secondaryColor: #383D3D;
$secondary2Color: #84ADAF;
$secondary3Color: #a6cccc;
$secondaryNavColor: rgba(170, 163, 72, 0.4);
$highlightColor: #DBFFEB;

@font-face {
  font-family: 'IvyMode';
  src: url('https://res.cloudinary.com/bwinka/raw/upload/v1610132690/IvyMode-Regular_z2dmri.woff2') format('woff2');
  src: url('https://res.cloudinary.com/bwinka/raw/upload/v1610132690/IvyMode-Regular_epgtyr.otf') format('opentype');
}

$fontStack2: 'IvyMode', serif;
$fontStack: ivystyle-sans,sans-serif;

@import "./globals";
@import "./include-media";
@import "./type-tags";
@import "./navbar";
@import "./home";
@import "./projects";
@import "./project-pages";
@import "./info";
@import "./footer";

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
  width: 100%;
}

// width
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
// track
::-webkit-scrollbar-track {
  background: $--background;
}
// handle
::-webkit-scrollbar-thumb {
  background: $--gray-1;
}
// handle on hover
::-webkit-scrollbar-thumb:hover {
  background: $--purple-1;
}

// used when viewing images in the lightbox on the homepage
.fullscreen {
  img {
    max-height: 85vh;
  }
}

.error-404, .loading {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}