$primaryColor: #026D67;
$primary2Color: #E8E5AC;
$primary3Color: #F8F1E6;
$secondaryColor: #004738;
$secondary2Color: #6AA386;
$secondary3Color: #AAA348;
$secondaryNavColor: rgba(170, 163, 72, 0.4);
$highlightColor: #DBFFEB;

$fontStack: ivystyle-sans,sans-serif;

$breakpointPhoneSm: 480px;
$breakpointPhone: 620px;
$breakpointTablet: 768px;
$breakpointDesktop: 990px;
$breakpointDesktopLg: 1260px;

@import "./type-tags";
@import "./navbar";
@import "./home";
@import "./about";
@import "./design";
@import "./illustration";
@import "./showcasePages";
@import "./gallery";
@import "./footer";

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  margin: 0 auto;
  padding: 1em;
  max-width: 980px;
  width: 100%;
  height: 100%;
}